<% include ../partials/header %> 

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %> </h1>
        <div class="thumbnail">
        <img src="<%= user.avatar %>" alt="user profile image">
        <h3>What do you love about camping?</h3>
            <p><%= user.bio %></p>
        <div class="center-div"><a href="mailto:<=user.email %>"><%= user.email %></a></div>
    </div>
     <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class = "text-center">
                 <a class = " btn btn-lg btn-default" 
                             href = "/users/<%= user._id %>/edit">
            Edit Profile </a>
            </div>
         <% } %>
        </div>

	<div class="col-md-8">
		<h4>Campgrounds posted by <%= user.username %></h4>
		<ul>
              <% if(campgrounds.length < 1) { %>
                  <h6 class="mt-4 ml-2"><em>No campgrounds submitted yet...</em></h6> 
             <% } else { %>
                  <% campgrounds.forEach( campground => { %>
                       <p class="user-campground-list"><a href="../campgrounds/<%= campground.id %>"><%= campground.name %></a></p>
                 <% }) %>
            <% } %>
		</ul>
	</div>
</div>
<% include ../partials/footer %> 